@import "../../../maxStitic.scss";

$color_1: rgba(255, 255, 255, 0.87);
$color_2: #646cff;
$color_3: #535bf2;
$color_4: #213547;
$color_5: #747bff;
$color_6: #cccfff;
$font-family_1: 'Cairo', sans-serif, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$font-family_2: inherit;
$background-color_1: #242424;
$background-color_2: #1a1a1a;
$background-color_3: #ffffff;
$background-color_4: #f9f9f9;
$background-color_5: #090a14;
$border-color_1: #646cff;

.detailsBanner {
    width: 100%;
    min-height: 100vh;
    background-color: $background-color_5;
    padding-top: 60px;
    margin-bottom: 50px;
    @include md {
        margin-bottom: 110px;
        padding-top: 70px;
        min-height: 700px;
    }
    .backdrop-img {
        width: 100%;
        // height: 100%;
        min-height: 100px;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
        overflow: hidden;
        @include md {
            opacity: 0.5;
        }
        .lazy-load-image-background {
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
    .opacity-layer {
        width: 100%;
        height: 250px;
        min-height: 400px;
        background: linear-gradient(
            180deg,
            rgba(4, 21, 45, 0) 0%,
            #090a14 90.17%
        );
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .content {
        display: flex;
        position: relative;
        flex-direction: column;
        gap: 8px;
        @include md {
            gap: 48px;
            flex-direction: row;
        }
        .left {
            flex-shrink: 0;
            align-self: center;
            @include md {
                align-self: auto;
            }
            .posterImg {
                max-width: 80px;
                display: block;
                border-radius: 16px;
                @include md {
                    max-width: 250px;
                }
            }
        }
        .right {
            color: white;
            .title {
                width: 100%;
                text-align: center;
                font-size: 20px;
                line-height: 32px;
                font-weight: 900;
                margin-bottom: 8px;
                @include md {
                    width: auto;
                    text-align: right;
                    font-size: 30px;
                    line-height: 40px;
                }
            }
            .subtitle {
                margin-top: 8px;
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 16px;
                font-weight: 600;
                font-style: italic;
                opacity: 0.8;
                text-align: center;
                
                @include md {
                    text-align: right;
                    font-size: 20px;
                    line-height: 20px;
                }
            }
            .genress {
                position: relative;
                width: 100%;
                flex-direction: row;
                gap: 1rem;
                justify-content: center;
                display: flex;
                margin-right: 4px;
                margin-top: 4px;
                transition: .3s ease;
                margin-bottom: 2rem;
                @include md {
                    justify-content: right;
                }
                .genree {
                    z-index: 1;
                    background: $color_2;  
                    // background: -webkit-linear-gradient(to left, #4A00E0, #646cff); 
                    // background: linear-gradient(to left, #4b00e0, #646cff); 
                    padding: 8px;
                    border-radius: 16px;
                    width: fit-content;
                    color: $color_1;
                    font-size: 1rem;
                    white-space: nowrap;
                }
            }
            .overview {
                margin-bottom: 24px;
                margin-top: 12px;
                .heading {
                    font-size: 24px;
                    margin-bottom: 14px;
                    width: min-content;
                }
                .description {
                    // border-right: 5px solid #f9f9f9;
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 700;
                    padding-right: 8px;
                    
                   
                    
                    color: #fff;
                   
                    @include md {
                      
                        font-size: 20px;
                        line-height: 30px;
                        padding-right: 10px;
                       
                        
                    }
                }
            }
            .circleRating {
                max-width: 40px;
                background: $background-color_1;  
                    // background: -webkit-linear-gradient(to left, #4A00E0, #646cff); 
                    // background: linear-gradient(to left, #4b00e0, #646cff); 
                @include md {
                    max-width: 48px;
                }
                .CircularProgressbar-text {
                    fill: $color_1;
                    
                }
            }
            .playbtn {
                display: flex;
                align-items: center;
                gap: 20px;
                cursor: pointer;
                svg {
                    width: 40px;
                    @include md {
                        width: 48px;
                    }
                }
                .text {
                    font-size: 12px;
                    line-height: 24px;
                    font-weight: 700;
                    transition: all 0.7s ease-in-out;
                }
                .triangle {
                    stroke-dasharray: 240;
                    stroke-dashoffset: 480;
                    stroke: white;
                    transform: translateY(0);
                    transition: all 0.7s ease-in-out;
                }
                .circle {
                    stroke: white;
                    stroke-dasharray: 650;
                    stroke-dashoffset: 1300;
                    transition: all 0.5s ease-in-out;
                }
                &:hover {
                    .text {
                        color: $color_5;
                    }
                    .triangle {
                        stroke-dashoffset: 0;
                        opacity: 1;
                        stroke: $color_6;
                        animation: trailorPlay 0.7s ease-in-out;
                    }
                    .circle {
                        stroke-dashoffset: 0;
                        stroke: $color_2;
                    }
                }
            }
            .row {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 24px;
                margin-right: 14px;
                @include md {
                    justify-content: start;
                }
            }

            .info {
                // border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                padding: 6px 0;
                display: flex;
                .infoItem {
                    // margin-right: 14px;
                    width: 100%;
                    line-height: 24px;
                    display: flex;
                    flex-direction: row;
                    // flex-flow: row wrap;
                    align-items: self-start;
                    justify-content: flex-start;
                    @include md {
                        width: auto;
                        display: flex;
                        flex-flow: row wrap;
                        align-items: center;
                        justify-content: center;
                    }
                    .without-wrap{
                        flex-flow: nowrap;
                    }
                }
                .text {
                    margin-right: 14px;
                    opacity: 0.8;
                    line-height: 28px;
                    font-size: 14px;
                    @include md {
                        font-size: 18px;
                    }
                    &.bold {
                        color: $color_1;
                        font-weight: 700;
                        opacity: 1;
                    }
                   
                }
            }
        }
        .bolder {
            display: block;
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 12px;
            width: 100%;
            opacity: 1;
            direction: ltr;
            text-align: center ;
            opacity: .8;
            @include md {
                text-align: start;
                direction: rtl;
            }
        }
    }

    .detailsBannerSkeleton {
        display: flex;
        position: relative;
        flex-direction: column;
        gap: 24px;
        @include md {
            gap: 48px;
            flex-direction: row;
        }
        .contentWrapper {
            display: flex;
            gap: 48px;
        }
        .left {
            flex-shrink: 0;
            width: 100%;
            display: block;
            border-radius: 14px;
            aspect-ratio: 1/1.5;
            @include md {
                max-width: 350px;
            }
        }
        .right {
            width: 100%;
            .row {
                width: 100%;
                height: 25px;
                margin-bottom: 20px;
                border-radius: 50px;
                &:nth-child(2) {
                    width: 75%;
                    margin-bottom: 50px;
                }
                &:nth-child(5) {
                    width: 50%;
                    margin-bottom: 50px;
                }
            }
        }
    }
}